{% extends 'base.html' %}
{% load static %}

{% block content %}
  <a href="{% url 'add_sock' %}" class="btn btn-primary" style="width: 18rem;">Add a sock</a>
  {% if sock_list %}

      {% for sock in sock_list %}
        <div class="card text-right" style="width: 18rem; margin-top: 0.25rem;">
          <img class="card-img-top" src="{{ sock.image.url }}" alt="Card image cap">
          <div class="card-img-overlay">
            <a href="/matcher/{{ sock.id }}/delete_sock " class="btn btn-outline-danger btn-sm">delete</a>
          </div>
        </div>
      {% endfor %}
  {% else %}
      <p>You have no socks. You must be new here.</p>
  {% endif %}
{% endblock %}

