{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Upload a sock</h3>
          <p>Take a picture of your sock on a plain background</p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" accept="image/*" required="" id="id_image">
            <button type="submit" class="btn btn-primary btn-block mt-2">Upload</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}